<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_unit">

    <!-- 您从百度网站获取的APP KEY，根据实际您的APP申请的APP_KEY进行修改 -->
    <meta-data
        android:name="BaiduMobAd_STAT_ID"
        android:value="c1d5087e57" />

    <!-- 渠道商编号 -->
    <meta-data
        android:name="BaiduMobAd_CHANNEL"
        android:value="Baidu Market" />

    <!-- 是否开启错误日志统计，默认为false -->
    <meta-data
        android:name="BaiduMobAd_EXCEPTION_LOG"
        android:value="true" />

    <!-- 日志仅在wifi网络下发送，默认为false -->
    <meta-data
        android:name="BaiduMobAd_ONLY_WIFI"
        android:value="false" />

    <!-- 是否获取基站位置信息 ,默认为true -->
    <meta-data
        android:name="BaiduMobAd_CELL_LOCATION"
        android:value="true" />

    <!-- 是否获取GPS位置信息，默认为true -->
    <meta-data
        android:name="BaiduMobAd_GPS_LOCATION"
        android:value="true" />

    <!-- 是否获取WIFI位置信息，默认为true -->
    <meta-data
        android:name="BaiduMobAd_WIFI_LOCATION"
        android:value="true" />

    <!--        android:name="${applicationName}"-->
    <application
        android:label="flutter_unit"
        android:name=".TinApplication"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
